*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  width: 1024px;
  height: 790px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

img{
  
  width: 350px;
  height: 238px;
    
}
