/* ============== GERAL ====================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: hsl(240, 6%, 21%);
  --bg-button-audio: hsl(240, 9%, 89%);
  --bg-button-audio-hover: hsl(194, 97%, 31%);

  --bg-body-dark-mode: hsl(240, 5%, 7%);
  --bg-button-hover-dark-mode: hsl(195, 74%, 15%);
  --svg-dark-mode: hsl(240, 7%, 78%);
}

.hide {
  display: none;
}

button {
  cursor: pointer;
}

span {
  font-size: 12.5rem;
  color: var(--primary-color);
}

button {
  background: none;
  border: none;
}

button path {
  fill: var(--primary-color);
}

/* ============== BODY ====================================*/
body {
  font-family: 'Roboto';
  display: grid;
  min-height: 100vh;
  min-width: 100vw;
} 

/* ============== HEADER ====================================*/
header {
  justify-self: center;
  align-self: start;
}

header button {
  margin-top: 6rem;
}

header button.dark-mode {
  width: 4.4rem;
  height: 4.4rem;
}


/* ============== MAIN ====================================*/
main {
  height: 60rem;
  justify-self: center;
  align-self: flex-start;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 


.timer {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.timer span {
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  
  width: 32.1rem;
  margin: 0 auto;
}

#audio-buttons {
  display: grid;
  grid-template-areas: "A B"
  "C D";
  gap: 3.2rem;
}

.card {
  width: 13.8rem;
  height: 15.2rem;
  background: var(--bg-button-audio);

  border-radius: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  position: relative;
}

.card button {
  position: absolute;

  width: 100%;
  height: 100%;

  border-radius: 2.0rem;
  padding-bottom: 3rem;
}

.forest {
  grid-area: A;
}

.rain {
  grid-area: B;
}

.coffe-shop {
  grid-area: C;
}

.fire {
  grid-area: D;
}

input[type='range'] {
  -webkit-appearance: none;

  width: 9rem;
  height: 4px;

  background: var(--primary-color);
  border-radius: 6px;
  position: relative;
  top: 12rem;
}

.card input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;

  width: 1.6rem;
  height: 1.6rem;
  
  background: var(--primary-color);
  border-radius: 5rem
}

button.onFocus{
  background-color: var(--bg-button-audio-hover);
}

.card .onFocus + input[type='range'], .card .onFocus + input[type='range']::-webkit-slider-thumb {
  background: white;
}

.onFocus path {
  fill: white;
}

/* ================== DARK MODE ====================== */
body.dark {
  background-color: var(--bg-body-dark-mode);
}

body.dark span {
  color: white;
}

body.dark #audio-buttons button {
  background: var(--primary-color);
}
body.dark #audio-buttons button.onFocus {
  background: var(--bg-button-hover-dark-mode);
}

body.dark button path {
  fill: var(--svg-dark-mode);
}

body.dark #audio-buttons input[type='range'], body.dark #audio-buttons input[type='range']::-webkit-slider-thumb {
  background-color: white;
}

/* ================== MEDIA ====================== */

@media (min-width: 768px) {
  header {
    justify-self: end;
    align-self: start;
  }

  header button {
    margin: 6rem 6rem 0 0;
  }
}

@media (min-width: 1024px) {
  main {
    width: 82rem;

    flex-direction: row;    
    align-items: center;
    gap: 0;
    justify-content: space-between;
  }

  .timer {
    margin-bottom: 4.8rem;
  }

}