*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  
}

body{
  width: 100vw;
  height: 390px;
  background: #FFFFFF;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
}
span{
  color: #EE24FF;
}
  

img:nth-child(1){
width: 360px;
height: 268px;
padding: 10px;
}
h2{
  margin: 32px 0 16px 0;
  font-size: 30px;
  color: #3F3D56
  ;
}
p{
  width: 540px;
  text-align: justify;
  font-size: 20px;
  padding: 10px;
}

.menus{
  display: flex;
  margin-top: 80px;
  gap: 42px;
  align-items: center;
}

.wave img {
  
  
  width: 100vw;
  height: 104px;
  margin-top: 40px;
  left: 0px;
  bottom: 0px;
}


